
h1 {
  @apply text-4xl;
  font-size: $h1TextSize;
}
h2 {
  @apply text-3xl;
  font-size: $h2TextSize;
}
h3 {
  @apply text-2xl;
  font-size: $h3TextSize;
}
h4 {
  @apply text-xl;
  font-size: $h4TextSize;
}
h5 {
  @apply text-lg;
  font-size: $h5TextSize;
}
h6 {
  @apply text-base;
  font-size: $h6TextSize;
}

main{
  @apply px-2 pb-2;
  padding-top: $navbarHeight;
}

a{
  @apply font-semibold;
}
